body{
  margin: 0;
  text-align: center;
  background-color: #D395BC;
}
h3{font-family:cursive;}
.head{background-color: #A988D8;}
.body1{background-color: #A988D8;}
.body2{background-color: #A988D8;}
